@{
    ViewData["Title"] = "Home Page";
}
<style>

    .card {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }


    .card p {
        font-size: 18px;
        line-height: 1.6;
        color: #666;
    }

    .contact {
        margin-top: 20px;
    }

   .contact p {
            font-weight: bold;
   }

   .contact a {
       color: #007BFF;
       text-decoration: none;
   }

    .linkedin-button {
        margin-top: 20px;
    }

   .linkedin-button a {
       display: inline-block;
       padding: 10px 20px;
       background-color: #007BFF;
       color: #fff;
       text-decoration: none;
       border-radius: 5px;
       transition: background-color 0.3s ease;
   }

  .linkedin-button a:hover {
      background-color: #0056b3;
  }
</style>
<div class="text-center">
    <div class="card">
        <h1>Mateusz Jóźwik</h1>
        <p>C# .Net Developer</p>

        <div class="contact">
            <p>Email: <a href="mailto:jmate2202@gmail.com">jmate2202@gmail.com</a></p>           
        </div>

        <div class="linkedin-button">
            <a href="https://www.linkedin.com/in/mateuszjozwik22/">LinkedIn</a>
        </div>
    </div>
</div>
